<?xml version="1.0" encoding="utf-8"?>
<NCoverExplorer xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSettings>
    <ProjectSetting>
      <ProjectName />
      <SatisfactoryCoverageThreshold>85</SatisfactoryCoverageThreshold>
      <SatisfactoryUnvisitedSequencePoints>0</SatisfactoryUnvisitedSequencePoints>
      <SatisfactoryFunctionThreshold>80</SatisfactoryFunctionThreshold>
      <TreeReportStyle>SequencePointCoveragePercentage</TreeReportStyle>
      <TreeSortStyle>Name</TreeSortStyle>
      <TreeFilterStyle>None</TreeFilterStyle>
      <CoverageExclusions>
        <CoverageExclusion>
          <ExclusionType>Assembly</ExclusionType>
          <Pattern>Gallio*</Pattern>
          <IsRegex>false</IsRegex>
          <Enabled>true</Enabled>
        </CoverageExclusion>
        <CoverageExclusion>
          <ExclusionType>Assembly</ExclusionType>
          <Pattern>MbUnit*</Pattern>
          <IsRegex>false</IsRegex>
          <Enabled>true</Enabled>
        </CoverageExclusion>
        <CoverageExclusion>
          <ExclusionType>Class</ExclusionType>
          <Pattern>Program</Pattern>
          <IsRegex>false</IsRegex>
          <Enabled>true</Enabled>
        </CoverageExclusion>
        <CoverageExclusion>
          <ExclusionType>Namespace</ExclusionType>
          <Pattern>NCoverDoraTests</Pattern>
          <IsRegex>true</IsRegex>
          <Enabled>true</Enabled>
        </CoverageExclusion>
      </CoverageExclusions>
      <ModuleThresholds />
      <NCoverInfo>
        <NCoverExe>C:\Program Files\NCover\NCover.Console.exe</NCoverExe>
        <Version>1.5.4</Version>
        <AppToProfileExe />
        <AppToProfileArgs />
        <CoverageFile>coverage.xml</CoverageFile>
        <LogLevel>Normal</LogLevel>
        <LogFile>coverage.log</LogFile>
        <WorkingDirectory />
        <ExcludeAttributes />
        <ProfileIIS>false</ProfileIIS>
        <ProfileService />
        <AssemblyList />
        <RegisterCoverLib>true</RegisterCoverLib>
        <XmlFormat>Xml1</XmlFormat>
        <ProfiledProcessModule />
        <UseCustomTasks>true</UseCustomTasks>
      </NCoverInfo>
    </ProjectSetting>
  </ProjectSettings>
</NCoverExplorer>