<cruisecontrol>
  <project name="myproject">
    <sourcecontrol type="nullSourceControl" />
    <workingDirectory>yourWorkingDirectory</workingDirectory>
    <artifactDirectory>yourArtifactDirectory</artifactDirectory>

    <tasks>

      <gallio>
        <applicationBaseDirectory>../SampleTests/bin/Debug/</applicationBaseDirectory>
        <workingDirectory>../SampleTests/bin/Debug/</workingDirectory>
        <pluginDirectories>
          <pluginDirectory>C:\Dev\MbUnit-trunk\v3\build\image\bin</pluginDirectory>
        </pluginDirectories>
        <assemblies>
          <assembly>../SampleTests/bin/Debug/SampleTests.dll</assembly>
        </assemblies>
      </gallio>


    </tasks>

    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="5"/>
    </triggers>
  </project>
</cruisecontrol>