<cruisecontrol>
  <project name="myproject">
      <sourcecontrol type="nullSourceControl" />
      <workingDirectory>yourWorkingDirectory</workingDirectory>
      <artifactDirectory>yourArtifactDirectory</artifactDirectory>

    <tasks>
      
      <exec>
        <executable>cmd.exe</executable>
        <buildArgs>/c echo "echo"</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
        <successExitCodes>0,1,3,5</successExitCodes>
       </exec>


    </tasks>

    <publishers>
      <serverLogPublisher />      

      <xmllogger />
    </publishers>
    
    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="5"/>
    </triggers>
  </project>
</cruisecontrol>